body {
    background: url(https://cdn.glitch.com/33d36806-f757-468a-b498-bf520a09cfc8%2Fbg-intro-desktop.png?v=1595466421954);
    position: relative;
    opacity: 0.9;
    font-family: 'Poppins', sans-serif;
    z-index: -1;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #023e8a;
}
.first-box, .second-box, .third-box  {
    padding: 10px;
    margin: 30px;
    width: 25%;
}

ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: lightcoral;
}

li.nav {
    float: center;
    font-size: 15px;
}

li.nav a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.main-board {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}



div {
    display: block;
}

.canva {
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px grey;
    height: 400px;
}

#canva-req {
    background-color: #cdb4db;
}

#canva-prog {
    background-color: #ffc8dd;
}

#canva-done {
    background-color: #bde0fe;
}

.titl {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: x-large;
    line-height: 1.3em;
    font-weight: bold;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .first-box {
      width: 100%;
    }
  }

@media screen and (max-width: 600px) {
    .second-box {
      width: 100%;
    }
  }

@media screen and (max-width: 600px) {
    .third-box {
      width: 100%;
    }
  }


.task-inp {
    display: flex;
    justify-content: center;
}
